<html>
    <head>
        <title>BARSIK's SITE</title>
    </head>
    <body>
        <div>
            <h1><a href="">Добро пожаловать на сайт Барсика</a></h1>
            <p>немного текста
        </div>
        <div>
            <p>published: 19.02.2021, 00:00</p>
            <h2><a href="">Первый пост</a></h2>
            <p>Барсик - это Кот.</p>
        </div>

        <div>
            <p>published: 20.19.2021, 00:00</p>
            <h2><a href="">Мой второй пост</a></h2>
            <p>Барсик - это очень красивый кот.</p>
        </div>
    </body>
</html>